include ./components/head.pug
body
    div.notFoundContainer
        h1 404 - Not Found
        p The page you are looking for does not exist.
        center         
            a(href="/") Go to Home