include ./components/head.pug
body
  .formBox
    .formContainer
      form.authForm(id="login" name="login")
        center
          h3 Log-In
        label(for="email") Email:
        input#email(required="" name="email" type="text" autoComplete="email")
        label(for="password") Password:
          span.tog Show
        input#password(required="true" name="password" type="password" autoComplete="current-password")
        button#logInBtn(type="submit") Login
        span
          | Dont have an account?
          br
          a#links(href="#register") Create new account
      form.authForm(id="register" name="register") 
        center
          h3 Create new account
        label(for="newemail") Email:
        input#newemail(required="" name="email" type="text" autoComplete="email")
        label(for="newPassword") New Password:
          span.tog Show
        input#newPassword( required="" name="password" type="password" autoComplete="new-password")
        select#role(required="" name="role")
          option(value="" selected disabled) Select your role
          option(value="student") Student
          option(value="teacher") Teacher
        button#regBtn(type="submit") Register
        span
          | Already have an account?
          a#links(href="#login") Login
    .forgetPass
      a(href="/resetPassword") Forget password?
  script(type="module", src="/auth.js") 
  script.
    document.addEventListener('DOMContentLoaded', () => {
      const passToggles = document.querySelectorAll('.tog');
      passToggles.forEach(toggle => {
        toggle.addEventListener('click', (e) => {
          const passwordInput = e.target.parentElement.nextElementSibling;
          if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggle.innerHTML='Hide';
          } else {
            passwordInput.type = 'password';
            toggle.innerHTML='Show';
          }
        });
      });
    });