include ./components/head.pug
body
  .myPop
    .popBox
      h5 Receive OTP to reset password.
      form.authForm(name="getOtp")
        label(for="existingEmail") Email:
        input#existingEmail(required="true" name="email" type="email" autocomplete="true")
        button#getOtp(type="submit") Get OTP
      form.authForm(name="verifyOtp")
        label(for="otp") Enter OTP:
        input#otp(required="true" name="otp" pattern="[0-9]*" inputmode="numeric" type="number")
        input#reEmail(value=(email) name="reEmail" type="email" hidden)
        button#verifyOtp(type="submit") Verify OTP
      form.authForm(name="updatePass" action="/updatePassword" method="post")
        input#passEmail( name="passEmail" type="email" hidden)
        label(for="newPass") New Password:
          span.tog Show
        input#newPass(required="" name="newPass" type="password" )
        button#resetPass(type="submit") Reset Password
      a(href="/auth") Go Back To Log-In
  script(type="module", src="/resetPass.js")